# Dependências do Node.js
node_modules/

# Banco de dados SQLite
*.sqlite
*.db
banco/
scripts/banco/

# Arquivos sensíveis (caso use variáveis de ambiente)
.env

# Arquivos e pastas de configuração do editor
.vscode/

# Logs e arquivos temporários
*.log
*.tmp
